@model Dish
<partial name="NavPartial"/>

<h3 class="py-3">
  Add or Edit A Dish <a href="/dishes"><-</a>
</h3>


<form action="/dish/save/@Model.DishID" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="ChefID"></label>
        <select asp-for="ChefID" class="form-control">
            @foreach (var chef in @ViewBag.Chefs)
            {
                <option value="@chef.ChefID">@chef.FirstName @chef.LastName</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="ChefID"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span class="text-danger" asp-validation-for="Tastiness"></span>
    </div>

    <div class="form-group">
        <label asp-for="Calories"></label>
        <input asp-for="Calories" class="form-control">
        <span class="text-danger" asp-validation-for="Calories"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-secondary" href="/dishes">Cancel</a>
</form>